.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.item:hover {
    color: #808080;
}

/* .card {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.card:hover {
    color: #000000;
} */